NCBL/flows.json
[{"id":"e4f02345.29fe9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b7460f63.af1bf","type":"inject","z":"e4f02345.29fe9","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"4","topic":"","payload":"true","payloadType":"bool","x":320,"y":340,"wires":[["6893dd8.4416324","dbe86bc5.b3b9a8"]]},{"id":"6893dd8.4416324","type":"file in","z":"e4f02345.29fe9","name":"file input","filename":"C:\\Users\\the_i\\Desktop\\NCBL\\test2.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":340,"y":380,"wires":[["36fa97b7.122c18"]]},{"id":"624d3bee.051ea4","type":"function","z":"e4f02345.29fe9","name":"str2num","func":"msg.payload = Number(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":440,"wires":[["ae5c80d5.b7b7a"]]},{"id":"ae5c80d5.b7b7a","type":"join","z":"e4f02345.29fe9","name":"concatenate","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"256","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":480,"wires":[["9b98ebbf.fe8798"]]},{"id":"40f27f0f.72e55","type":"ui_heat_map","z":"e4f02345.29fe9","group":"2e442781.0c5608","order":2,"width":"6","height":"6","name":"show heat map","rows":"16","columns":"16","minMax":true,"minimumValue":"0","maximumValue":"500","backgroundType":"color","backgroundColor":"#4929bc","radius":40,"opacity":"1","blur":"1","showValues":false,"gridType":"none","valuesDecimals":"0","showLegend":false,"legendType":"none","legendDecimals":0,"legendCount":2,"x":620,"y":560,"wires":[]},{"id":"3bf254f8.a0da8c","type":"debug","z":"e4f02345.29fe9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":500,"wires":[]},{"id":"9b98ebbf.fe8798","type":"delay","z":"e4f02345.29fe9","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"12","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":520,"wires":[["3bf254f8.a0da8c","40f27f0f.72e55"]]},{"id":"36fa97b7.122c18","type":"switch","z":"e4f02345.29fe9","name":"check","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":420,"wires":[["f3c62269.79726"],["624d3bee.051ea4"]]},{"id":"f3c62269.79726","type":"debug","z":"e4f02345.29fe9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":400,"wires":[]},{"id":"c0443581.d464d8","type":"ui_text","z":"e4f02345.29fe9","group":"2e442781.0c5608","order":1,"width":"0","height":"0","name":"","label":"Pressure distribution","format":"","layout":"row-left","x":620,"y":600,"wires":[]},{"id":"265c5adc.1e1aa6","type":"ui_heat_map","z":"e4f02345.29fe9","group":"d74c4bc1.d21ea8","order":2,"width":"1","height":"6","name":"show color map","rows":"16","columns":"1","minMax":false,"minimumValue":"0","maximumValue":"255","backgroundType":"color","backgroundColor":"#4929bc","radius":"50","opacity":"0.8","blur":"0.8","showValues":false,"gridType":"none","valuesDecimals":"0","showLegend":false,"legendType":"none","legendDecimals":0,"legendCount":2,"x":760,"y":400,"wires":[]},{"id":"dbe86bc5.b3b9a8","type":"file in","z":"e4f02345.29fe9","name":"file input","filename":"C:\\Users\\the_i\\Desktop\\NCBL\\colormap.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":480,"y":260,"wires":[["84f4cc99.f99cc"]]},{"id":"99017195.1130d","type":"function","z":"e4f02345.29fe9","name":"str2num","func":"msg.payload = Number(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":320,"wires":[["b1449de7.aa092"]]},{"id":"b1449de7.aa092","type":"join","z":"e4f02345.29fe9","name":"concatenate","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"16","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":360,"wires":[["265c5adc.1e1aa6","50f8bac6.5771c4"]]},{"id":"50f8bac6.5771c4","type":"debug","z":"e4f02345.29fe9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":340,"wires":[]},{"id":"84f4cc99.f99cc","type":"switch","z":"e4f02345.29fe9","name":"check","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":300,"wires":[["626cc8fc.f43518"],["99017195.1130d"]]},{"id":"626cc8fc.f43518","type":"debug","z":"e4f02345.29fe9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":280,"wires":[]},{"id":"f955a0dd.df6bd","type":"ui_text","z":"e4f02345.29fe9","group":"d74c4bc1.d21ea8","order":1,"width":"0","height":"0","name":"","label":"Colorbar","format":"","layout":"row-left","x":680,"y":220,"wires":[]},{"id":"2e442781.0c5608","type":"ui_group","name":"Heatmap","tab":"4779176.99cd2e8","order":1,"disp":true,"width":"6","collapse":true},{"id":"d74c4bc1.d21ea8","type":"ui_group","name":"Colorbar","tab":"4779176.99cd2e8","order":2,"disp":true,"width":"6","collapse":true},{"id":"4779176.99cd2e8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
